.songCard-body {
    width: 90%;
    height: 95%;
    background-color: #27354d;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10% ;

  }